
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.content-section_theme {
  background-color: #fff;
  color: #000;
}

.header__menu {
  grid-column: 1 / 2;
}

.header__menu-list {
  display: flex;
  max-width: 392px;
  justify-content: space-between;
  gap: 12px;
  list-style: circle;
  align-items: center;
  text-underline-offset: 3px; /*Отступ подчеркивания*/
  text-decoration-skip-ink: none; /*НЕ позволяет пересекать текст*/
}

.header__menu-item {
  display: list-item;
}

.header__menu-link {
  font-size: 18px;
  font-weight: 400;
}

.header__menu-item_active {
  list-style: none; /*Убираем маркер у первого пункта*/
}

.header__menu-item_active .header__menu-link {
  text-decoration: none; /*Убираем подчеркивание у активного пункта*/
}

.header__logo {
  display: block;
  grid-column: 2 / 3;
  width: 148px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  grid-column: 3 / 4;
  justify-self: end;
  align-items: flex-start;
  display: flex;
  max-width: 240px;
  flex-direction: column;
  list-style: none;
}

address {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  font-style: normal;
  text-underline-offset: 3px; /*Отступ подчеркивания*/
  text-decoration-skip-ink: none; /*НЕ позволяет пересекать текст*/
}